html,
body {
  font-family: $main-font, sans-serif;
  font-size: $medium-font-twenty-eight;
  background-color: $white;
  color: $dark-blue;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 20px;
}

.hidden {
  display: none;
}

#logo-icon {
  color: $dark-blue;
}


