//Color
$dark-blue: #1D1F2E;
$white: #fff;
$gold: #A25F4B;
$gray: #1D1F2E;
//Size width
$container-width: 980px;
$media-xl: 1199px;
$media-md: 991px;
$media-s: 767px;
// Fonts
$main-font: "Karla-Regular";
$large-font-sixty: 60px;
$large-font-fifty: 50px;
$large-font-fourty: 40px;
$large-font-thirty: 30px;
$medium-font-twenty-eight: 28px;
$medium-font-twenty-two: 22px;
$medium-font-eighty: 18px;
$regular: 400;
$bold: 700;
